<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to('Books', books_path) %></li>
      <li><%= link_to('Add book', new_book_path) %></li>
      <li><%= link_to('Recipe', recipes_path) %></li>
      <li><%= link_to('Add recipe', new_recipe_path) %></li>
      <li><%= link_to('Ingredient', ingredients_path) %></li>
      <li><%= link_to('Add ingredient', new_ingredient_path) %></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
