<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :nationality %>
  <%= f.text_field :nationality %>

  <%= f.label :dob, "Date Of Birth" %>
  <%= f.text_field :dob %>

  <%= f.label :period %>
  <%= f.text_field :period %>

  <%= f.label :image %>
  <%= f.url_field :image %>

  <p>Please donate to keep our museum open.</p>

  <%= f.submit %>
<% end %>