<form action="/butterflies/update" method="post">
  <input type="hidden" name="id" value="<%= @butterfly.id %>">

  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required value="<%= @butterfly.name %>">
  </p>

  <p>
    <label for="family">Family: </label>
    <input type="text" name="family" id="family" required value="<%= @butterfly.family %>">
  </p>

  <p>
    <label for="photo">Photo: </label>
    <input type="url" name="photo" id="photo" required value="<%= @butterfly.photo %>">
  </p>

  <p>
    <label for="plant_id">Larval Plant: </label>
    <select name="plant_id" id="plant_id">
      <option value="0">None</option>
      <% @plants.each do |plant| %>
        <option value="<%= plant.id %>" <%= "selected" if plant.id == @butterfly.plant_id %>><%= plant.name %></option>
      <% end %>
    </select>
  </p>

  <button>Update butterfly!</button>
</form>