<ul>
  <li><%= @planet.name %></li>
  <li><%= @planet.orbit %></li>
  <li><%= @planet.mass %></li>
  <li><%= @planet.diameter %></li>
  <li><%= @planet.moons %></li>
  <li>
    <%= image_tag(@planet.image) %>
  </li>
</ul>
