<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>

  <%= f.label :chef %>
  <%= f.text_field :chef %>

  <%= f.label :image %>
  <%= f.url_field :image %>

  <% Recipe.order(:name).each do |recipe| %>
    <span><%= recipe.name %></span>
    <%= check_box_tag 'book[recipe_ids][]', recipe.id, recipe.in?(@book.recipes) %>
  <% end %>

  <%= f.submit %>
<% end %>