<h2><%= @book.title %></h2>
<p><%= link_to('Edit', edit_book_path(@book)) %>
   <%= link_to('Delete', @book, :method => :delete) %></p>
<p><%= @book.cuisine %></p>
<p><%= @book.chef %></p>
<p><%= image_tag @book.image %></p>

<% @book.recipes.each do |recipe| %>
  <p><%= recipe.name %></p>
  <p><%= image_tag recipe.image, :class => 'recipe' %></p>

  <% recipe.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
    <p><%= image_tag ingredient.image, :class => 'ingredient' %></p>
  <% end %>
  <hr>
<% end %>
